.contenedor-popUp {
  position: absolute;
  left: 58%;
  top: 45px;
  width: 100%;
  height: 50rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  translate: -50% 0;
  max-width: 35rem;
}