.contenedor-popUp{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}