.contenedor-popUp{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}