.contenedor-paso1{
  width: 100%;
  height: 100%;
}

.contenedor-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem 2rem 1rem;
}

.contenedor-roles{
  display: grid;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 3.5rem;
}

.contenedor-paso1 p{
  font-size: 0.8rem;
}