.input-publicacion-nueva{
  width: 95%;
  min-height: 2.5rem;
  height: fit-content;
  border: none;
  background-color: transparent;
  padding-left: 0.625rem;
}

button.boton-publicar.common-button, button.boton-publicar.disabled-button {
  border-radius: 50px;
  font-size: 0.8rem;   
  min-width: 1rem;
  height: 2.5rem;
}

.contenedor-icono-imagen{
  height: 1.4rem;
  width: 1.4rem;
}

.contenedor-opciones {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

svg {
  cursor: pointer;
  transition: transform 0.2s ease;
}

svg:hover {
  transform: scale(1.1);
}

.contenedor-recursos-extra{
  display: flex;
  align-items: center;
  gap: 1rem;
}
