*{
  font-size: medium;
}
body{
  background-color: #e1e1e1;
}

.contenedor-login{
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.parte-superior, .parte-inferior{
  text-align: center;
}

.contenedor-inicioRapido {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0 1rem 0;
}

.encabezado{
  margin-bottom: 1rem;
}

.encabezado h1{
  color: black;
  font-size: 4.5rem;
  margin: 2rem 0 0 0;
}

.Usuario, .Contraseña{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Usuario h4{
  margin-left: 1rem;
}
.Contraseña h4{
  margin-left: 4.6rem;
}

.form-inicio{
  padding: 1rem 0 1rem 0;
  display: grid;
  gap: 0.5rem;
}

.container-button{
  margin: 1rem;
}

.container-opciones{
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.container-opciones a:hover{
  color: #91235a;
}

hr{
  width: 20rem;
  margin-bottom: 2rem;
}

a{
  font-size: 0.8rem;
}

@media (max-width:600px){
  .encabezado h1{
    font-size: 2rem;
  }
}