.avatar{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* Diseño automático */
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Black & White/White */
  background: #FFFFFF;
  /* Neutral/300 */
  border-radius: 100%;
}

.avatar-imagen {
  width: 100%;
  height: 100%;
  display: block;
}