.contenedor-ventana-foro {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  width: 100%;
}

.contenedor-lista-foros{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.contenedor-filtros{
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: white;
  position: absolute;
  bottom: 10px;
  right: 20px;
  border-radius: 100rem;
  border: 1px solid #b4b4b4;
}

.contenedor-filtros-cascade-menu{
  position: absolute;
  transform: translateZ(0);
  z-index: 3;
  bottom: 980%;
  right: 700%;
}