.contenedor-comentarios {
  animation: slideDownFadeIn 0.4s ease forwards;
  height: fit-content;
  max-height: 30rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #999 transparent;
  padding-right: 4px; 
  margin-bottom: 2rem;
}

.contenedor-crear-comentario .input-crear-comentario {
  flex: 1;
  width: 80%;
  min-height: 2.5rem;
  border: none;
  background-color: transparent;
  padding: 8px 4px;
  font-size: 16px;
  resize: none;
  outline: none;
  font-family: inherit;
}

.contenedor-crear-comentario{
  display: flex;
  flex-direction: row;
  width: 95%;
  align-items: center;
}

.contenedor-comentarios::-webkit-scrollbar {
  width: 6px;
}

.contenedor-comentarios::-webkit-scrollbar-track {
  background: transparent;
}

.contenedor-comentarios::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
}

.contenedor-comentarios::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

contenedor-crear-comentario{
  display: flex;
  flex-direction: row;
  width: 100%;
}