.recurso-externo-card {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: #fff;
}

.icono-link-externo {
  font-size: 0.9rem;
  margin-left: 0.3rem;
  color: #555;
}

.recurso-externo-card button {
  margin-top: 0.5rem;
  background-color: #1f2937;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
