body {
  margin: 0;
  font-family: 'Noto Sans Sc', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* Color Principal */
  --color-primary-700: #270415;
  --color-primary-600: #5A1236;
  --color-primary-500: #91235A;
  --color-primary-400: #CB3580;
  --color-primary-300: #EE68A4;
  --color-primary-200: #E997BC;
  --color-primary-100: #FADEE8;
  --color-primary-50: #FFF7FA;
  
  /* Danger */
  --color-danger-700: #EC2D30;
  --color-danger-600: #F64C4C;
  --color-danger-500: #EB6F70;
  --color-danger-400: #F49898;
  --color-danger-300: #FFCCD2;
  --color-danger-200: #FFEBEE;
  --color-danger-100: #FEF2F2;
  --color-danger-50: #FFFBFB;
  
  /* Warning */
  --color-warning-700: #FE9B0E;
  --color-warning-600: #FFAD0D;
  --color-warning-500: #FFC62B;
  --color-warning-400: #FFDD82;
  --color-warning-300: #FFEAB3;
  --color-warning-200: #FFF7E1;
  --color-warning-100: #FFF9EE;
  --color-warning-50: #FFFDFA;
  
  /* Success */
  --color-success-700: #0C9D61;
  --color-success-600: #47B881;
  --color-success-500: #6BC497;
  --color-success-400: #97D4B4;
  --color-success-300: #C0E5D1;
  --color-success-200: #E5F5EC;
  --color-success-100: #F2FAF6;
  --color-success-50: #FBFEFC;
  
  /* Info */
  --color-info-700: #3A70E2;
  --color-info-600: #3B82F6;
  --color-info-500: #4BA1FF;
  --color-info-400: #93C8FF;
  --color-info-300: #BDDDFF;
  --color-info-200: #E4F2FF;
  --color-info-100: #F1F8FF;
  --color-info-50: #F8FCFF;
}

/* Reset y estilos base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
