.common-ghost-button, .disabled-ghost-button {
  max-width: 15rem;
  min-width: 10rem;
  padding: 0.75rem;
  width: fit-content;
  height: 3rem;
  border-radius: 0.25rem;
  border: none;
  background-color: transparent;
  color: #4b4b4b;
}

.common-ghost-button:hover {
  background-color: #CACACA;
}

.common-ghost-button:active {
  background-color: #b1b1b1;
}
  
.disabled-ghost-button {
  color: #8e8e8e;
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
}

