.common-button-icon, .disabled-button-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 11px;
  color: white;
  width: 3rem;
  height: 3rem;

  /* Primary/600 */
  background: #5A1236;
  border-radius: 100px;
  border: none;
}

.common-button-icon:hover{
  background-color: #91235A;
}

.common-button-icon:active{
  background-color: #270415;
}

.disabled-button-icon{
  background-color: #EE68A4;
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
}
