.switch{
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: blue;
  border-radius: 100rem;
  width: 4.5rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.2rem;
}

.checkbox{
  width: 100%;
  height: 0;
}

.slider{
  background-color: white;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  border-radius: 100rem;
}

.switch::before{
  background-color: gray;
}